* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    min-height: 100%;
}

body {
    background-color: rgb(236, 237, 244);
    color: rgb(45, 45, 45);
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    padding: 1.25rem;
}

main {
    background-color: white;
    border-radius: 10px;
    max-width: 100%;
    width: 40%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(201, 201, 201, 0.2), 0 6px 20px 0 rgba(201, 201, 201, 0.19);
}

section {
    padding: 1rem;
}

.button {
    min-width: 5vw;
    padding: 1rem;
    font-size: 1.25rem;
    color: white;
    border-radius: 10px;
    outline: none;
    border: 0;
}

.button:hover {
    cursor: pointer;
    filter: brightness(120%);
}

.listContainer {
    min-height: 60vh;
}

.listHeader {
    border-bottom: 1px solid rgb(45, 45, 45);
    padding-bottom: 1rem;
}

.listHeader h2 {
    font-size: 3rem;
}

.item {
    display: flex;
    align-items: center;
    flex-direction: flex-end;
    padding: 0.5rem 0;
}

.item label {
    margin-right: auto;
    text-decoration: none;
}

.item i {
    cursor: pointer;
    margin: 0 0.5rem;
}

#itemForm, .listHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#itemText {
    width: 80%;
    border: 2px solid rgb(236, 237, 244);
    border-radius: 10px;
    font-size: 1.25rem;
    padding: 1rem;
    outline: none;
    box-shadow: none;
}

#addItem {
    background-color: rgb(27, 90, 226);
}

#clearItems {
    background-color: rgb(226, 27, 27);
}

@media only screen and (max-width: 425px) {
    main {
        width: 80%;
    }

    .button {
        font-size: 1rem;
        padding: 0.75rem;
    }

    .listHeader h2 {
        font-size: 2rem;
    }

    #itemText {
        padding: 0.75rem;
        font-size: 1rem;
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    main {
        width: 75%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    main {
        width: 50%;
    }
}
